div[id ^= "app_mainView_productPanel_item"] {
	height: 150px;
	font-size: 13px;
	font-weight: bold;	
}

img[id ^= "app_mainView_productPanel_mangaPreview"] {
	width: 100px;
	height: 140px;
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;
	float:left;
}

img[id ^= "app_mainView_productPanel_manga_image"] {
	float:left;
	height:90%;
}

div[id ^= "app_mainView_productPanel_manga_title"] {
	font-size: 16px;
	font-weight: bold;
	height: 50px;
	margin-left: 50px;
	margin-top: 50px;
}

div[id ^= "app_mainView_productPanel_manga_description"] {
	margin-left: 50px;
	font-size: 13px;
	width: 40%;
	padding-bottom: 20px;
}

div[id ^= "app_mainView_productPanel_manga_tags"] {
	margin-left: 50px;
	font-size: 13px;
	width: 50%;
}

div[id ^= "app_mainView_productPanel_manga_author"] {
	margin-left: 50px;
	font-size: 13px;
	width: 50%;
}

div[id ^= "app_mainView_productPanel_mangaIndex"] {
	float: right;
	font-size: 13px;
}

div[id ^= "app_mainView_productPanel_more"] {
	color: white; 
	height: 2px;
}

div[id ^= "app_mainView_productPanel_mangaTags"] {
	font-size: 13px;
	font-weight: normal;
}

