div[id ^= "app_mainView_productPanel_item"] {
	width: 200px;
	height: 200px;
	float: left;
	font-size: 13px;
	font-weight: bold;	
	text-align: center;
}

img[id ^= "app_mainView_productPanel_mangaPreview"] {
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-bottom: 10px;
}

img[id ^= "app_mainView_productPanel_manga_image"] {
	float:left;
	height:90%;
}

div[id ^= "app_mainView_productPanel_manga_title"] {
	font-size: 16px;
	font-weight: bold;
	height: 50px;
	margin-left: 50px;
	margin-top: 50px;
}

div[id ^= "app_mainView_productPanel_manga_description"] {
	margin-left: 50px;
	font-size: 13px;
	width: 50%;
	padding-bottom: 20px;
}

div[id ^= "app_mainView_productPanel_manga_tags"] {
	margin-left: 50px;
	font-size: 13px;
	width: 50%;
}

div[id ^= "app_mainView_productPanel_manga_author"] {
	margin-left: 50px;
	font-size: 13px;
	width: 50%;
}

div[id ^= "app_mainView_productPanel_mangaIndex"] {
	float: right;
	font-size: 13px;
}


